[package]
name = "cycles"
version = "0.1.0"
authors = ["Bauke Conijn <bcmpinc@gmail.com>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies.bevy]
version = "0.14"
features = ["file_watcher"]
